<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- ELMAH -->
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <elmah>
    <security allowRemoteAccess="1" />
    <errorMail from="errors@opacitydesigngroup.com" to="errors@opacitydesigngroup.com" subject="Error on [Project Name Goes Here]" priority="Normal" async="false" smtpPort="7000" smtpServer="dev3.opacitydesigngroup.com" useSsl="false" userName="mail" password="mail7343" noYsod="false" />
    <errorFilter>
      <!-- This filter disables emailing of any errors which meet the conditions inside the 'or' section below -->
      <test>
        <and>
          <regex binding="FilterSourceType.Name" pattern="mail"/>
          <or>
            <equal binding="HttpStatusCode" value="404" type="Int32"/>
            <equal binding="HttpStatusCode" value="401" type="Int32"/>
            <regex binding="Context.Request.Url.Host" pattern="localhost"/>
            <regex binding="BaseException.Message" pattern="A potentially dangerous Request.Path value" caseSensitive="false"/>
            <regex binding="BaseException.Message" pattern="A potentially dangerous Request.QueryString value" caseSensitive="false"/>
            <regex binding="BaseException.Message" pattern="Invalid viewstate" caseSensitive="false"/>
            <regex binding="BaseException.Message" pattern="This is an invalid script resource request" caseSensitive="false"/>
            <regex binding="BaseException.Message" pattern="Path 'OPTIONS' is forbidden" caseSensitive="false"/>
            <regex binding="BaseException.Message" pattern="item with the same key has already been added" caseSensitive="false"/>
            <regex binding="BaseException.Message" pattern="are you missing a using directive or an assembly reference" caseSensitive="false"/>
            <regex binding="context.Request.UserAgent" pattern="Internet Publishing Provider" caseSensitive="false"/>
            <regex binding="context.Request.UserAgent" pattern="bot" caseSensitive="false"/>
            <regex binding="context.Request.UserAgent" pattern="crawler" caseSensitive="false"/>
            <regex binding="context.Request.UserAgent" pattern="slurp" caseSensitive="false"/>
            <regex binding="Context.Request.Path" pattern="CuteWebUI_Uploader_Resource.axd" caseSensitive="false"/>
          </or>
        </and>
      </test>
    </errorFilter>
  </elmah>
  <!-- END ELMAH -->

    <!-- FORMS AUTHENTICATION PERMISSIONS -->
    
          <location path="Admin">
              <system.web>
                  <authorization>
                      <deny users="?"/>
                  </authorization>
              </system.web>
          </location>


    
  <system.web>
    <httpRuntime maxRequestLength="32768" />
    <customErrors mode="Off" />

      <authentication mode="Forms">
          <forms name="WebsiteFormsAuthentication" loginUrl="Account/signIn.aspx" defaultUrl="Account/" />
      </authentication>
      <authorization>
          <allow users="*"/>
      </authorization>

      <!-- ELMAH -->
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <!-- END ELMAH -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <pages clientIDMode="AutoID">
      <controls>
        <add tagPrefix="odg" namespace="ODG.Core.WebControls" assembly="ODG.Core" />
      </controls>
    </pages>
  </system.web>
  <!-- ELMAH -->
  <location path="elmah.axd">
    <system.web>
      <authorization></authorization>
    </system.web>
  </location>
  <!-- END ELMAH -->
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <handlers>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, &#xA;                  System.Web, Version=2.0.0.0, Culture=neutral, &#xA;                  PublicKeyToken=b03f5f7f11d50a3a" />
      <!-- ... -->
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
    <!-- ELMAH -->
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, &#xA;                   System.Web.Routing, Version=3.5.0.0, &#xA;                   Culture=neutral, &#xA;                   PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <!-- END ELMAH -->
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="AdminEmail" value="chrismail@opacitydesigngroup.com,kelly@opacitydesign.com" />
    <add key="SmtpServer" value="mail:mail7343@dev3.opacitydesigngroup.com:7000" />
      <add key="ExcelClientLicensePath" value="~/bin/" />
  </appSettings>

</configuration>